body {
    text-align: center;
    animation: bg .7s infinite;
}

svg{
    margin-top:5%;
}

@keyframes bg {
    0% {
        background-color: #b2eaea;
    }
    50% {
        background-color: #d8d0f2;
    }
    
    100% {
        background-color: #b2eaea;
    }
    
}

.tan {
    animation: tan 2s infinite;
    margin-left: 100px;
}

@keyframes tan {
    0% {
        transform: translate3d(0px, 10px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(0px, 20px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(0px, 10px, 0px);
    }
}

.brown {
    animation: brown 2s infinite;
    margin-left: 100px;
}

@keyframes brown {
    0% {
        transform: translate3d(0px, 10px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(0px, 20px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(0px, 10px, 0px);
    }
}
