 html {
     background: url("background.jpg") no-repeat center center fixed;
     background-size: cover;
 }
 
 body {
     background-size: 100%;
     background-repeat: none;
     padding: 0;
     margin: 0;
     overflow: hidden;
     font-family: 'bastille', sans-serif;
     color: white;
     letter-spacing: 2.5px;
     margin-left:13%;
     margin-right:13%;
 }
 
 @font-face {
     font-family: bastille;
     src: url('bastille-font.ttf');
 }
 
 
 h1 {
     font-size: 2.5em;
 }
 
 p{
     font-size: 1.55em;
 }
 
 #footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-family: 'bastille', sans-serif;
    color: white;
    font-size: 60px;
    text-align: center;
}


a{
    color:white
}

a:visited{
    color:white;
}