body {
    font-family: got;
    background-color:#cee6ed;
    text-align: center;
}

@font-face {
    font-family: got;
    src: url('got.ttf');
}

svg{
    margin-top: -2%;
}

.sun{
    animation: sun 2s infinite;
    margin-left:100px;
}

@keyframes sun {
    0% {
        transform:translate3d(0px, 10px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(0px, 20px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(0px, 10px, 0px);
    }
}


.stars{
    animation: stars 2s infinite;
    margin-left:100px;
}

@keyframes stars {
    0% {
        transform:translate3d(0px, 5px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(0px, 20px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(0px, 5px, 0px);
    }
}



#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-family: arial, sans-serif;
    color: #CDCE97;
    font-size: 2px;
    text-align: center;
}

a{
    color:#CDCE97;
}

a:visted{
    color:#CDCE97;
}